
<% if current_user %>

	<!-- JAVASCRIPT MAGYCK -->

	<script type="text/javascript">
    window.location.href="/restaurants"  // put your correct path in a string here
	</script>

<% else %>

	<h3>Log in</h3>

	<%= form_tag sessions_path do %>
		<div class="field">
			<%= label_tag :email %><br />
			<%= text_field_tag :email, params[:email] %>
		</div>
		<div class="field">
			<%= label_tag :password %><br />
			<%= password_field_tag :password, params[:email] %>
		</div>
		<div class="actions"><%= submit_tag "Log in" %></div>
	<% end %>


<% end %>