<h1>Welcome to ReserVoir! Please fill out the following details to create an account</h1>

<%= form_for @user do |u| %>
	<% if @user.errors.any? %>
	<!-- .any? returns true if @user.errors isn't emtpy -->
		<div class="errors">
			<h2>Invalid form</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
		<div class="field">
			<%= u.label :name %><br />
			<%= u.text_field :name %>
		</div>
		<div class="field">
			<%= u.label :email %><br />
			<%= u.text_field :email %>
		</div>
		<div class="field">
			<%= u.label :password %><br />
			<%= u.text_field :password %>
		</div>
		<div class="field">
			<%= u.label :password_confirmation %><br />
			<%= u.text_field :password_confirmation %>
		</div>
		<div class="actions"><%= u.submit %> </div>
	<% end %>