<% if current_user %>
<h1>Make a reservation!</h1>

<%= form_for([@restaurant, @reservation]) do |f| %>
		<% if @reservation.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved </h2> 
				<ul>
				<% @reservation.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.datetime_select :time, class: "form_fields" %><br>
		</div>
		<div class="field">
			<%= f.number_field :party_size, placeholder: "Party size", class: "form_fields" %><br>
		</div>
		<div>
			<%= f.hidden_field :name, :value => @restaurant.name %>
		</div>
		<div class="actions">
			<%= f.submit class: "form_fields" %>
		</div>
	<% end %>

	<% if @reservation %>
		<% @restaurant.reservations.each do |reservation| %>
			<p>
				<%= reservation.time %><br>
				<%= reservation.party_size %>
			</p>
		<% end %>
	<% end %>
<% end %>
<% unless current_user %>
  <p>Please <%= link_to "log in", new_session_path %> to make a reservation.</p> 
<% end %>
