<h3>Restaurants</h3>

<!-- JAVASCRIPT MAGIC AGAIN FOR THE TOGGLING -->

<script language="javascript"> 
function toggle() {
	var ele = document.getElementById("toggleText");
	var text = document.getElementById("displayText");
	if(ele.style.display == "block") {
    		ele.style.display = "none";
		text.innerHTML = "show";
  	}
	else {
		ele.style.display = "block";
		text.innerHTML = "hide";
	}
} 
</script>

<!-- IS THERE A WAY TO DO THIS MORE ELEGANTLY -->
<!-- i have the same text on 2 pages :( this is sad -->
<div>
	<% @restaurants.each do |restaurant| %>
	  	<h4 class="restname"><strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong></h4>
	  	<ul>
	  		<li>Located @ <%= restaurant.location%></li>
		  	<li>Contact: <%= restaurant.email %></li>
		  	<li>Capacity: <%= restaurant.capacity %></li>
		  	<li><a id="displayText" href="javascript:toggle();">Click here to view menu preview</a>
			<div id="toggleText" style="display: none"><ul>
				<% restaurant.menu.split(", ").each do |item| %>
				<li><%= item %></li>
				<% end %>
				</ul>
				</div>
			</li>
	  	</ul>
	  	<p><%= link_to "View Restaurant",restaurant_path(restaurant) %></p>
	<% end %>
</div>
