<h1>Restaurants</h1>

<div>
	<% @restaurants.each do |restaurant| %>
	  	<h2><strong><%= restaurant.name %></strong></h2>
	  	<ul>
	  		<li><%= restaurant.location%></li>
		  	<li><%= restaurant.email %></li>
		  	<li><%= restaurant.capacity %></li>
		  	<li><%= restaurant.menu %></li>
	  	</ul>
	  	<p><%= link_to "View Restaurant",restaurant_path(restaurant) %></p>
	<% end %>
</div>
